<div class="container">
      <div class="btn-group-lg" role="group">
        <button type="button" id="a0" class="btn btn-danger">自然のすがた</button>
        <button type="button" id="a1" class="btn btn-success">豊かな生き物</button>
        <button type="button" id="a2" class="btn btn-warning">水のきれいさ</button>
        <button type="button" id="a3" class="btn btn-info">快適な水辺</button>        
        <button type="button" id="a4" class="btn btn-primary">地域とのつながり</button>
        <button type="button" id="a5" class="btn btn-default">総合平均</button>
      </div>  
    </div>
 <div id="map"></div>
