@import "bootstrap-sprockets";
@import "bootstrap";

@charset "UTF-8";
header{
	font-size: 20px;
}
.container{
	min-width: 600px;
}

/* 共通スタイル */
#map, #help{
	margin-top: 30px;
	text-align: center;
}
#login{
	margin-top: 30px
}
#map{
	height: 800px;
	border: solid black 1px;
}

.btn-group-lg{
	text-align: center;
}

#howtocreate{
	.h3{
		font-size: 18px;
	}
	.p{
		font-size: 14px;
	}
}