@import "color";
@import "bootstrap-sprockets";
@import "bootstrap";

@charset "UTF-8";
header{
	font-size: 20px;
}
.container{
	min-width: 600px;
	font-size: 30px;
}
.navbar-header{
	font-size: 28px;
}

#navbar{
	font-size: 28px;
}


/* 共通スタイル */
#map, #help{
	margin-top: 30px;
	text-align: center;
}
#login{
	margin-top: 30px
}
#map{
	height: 800px;
	border: solid black 1px;
}

.btn-group-lg{
	text-align: center;
}

#howtocreate{
	h3{
		font-size: 25px;
	}
	p{
		font-size: 20px;
	}
}

#data_show{
	table{
		bgcolor: black;
	}
}

#data-group{
	min-width: 600px;
}
.key{
	padding-left: 20px;
}
.value{
	width: 10%;
	padding-right: 20px;
}
#data-edit-group{
	margin-bottom: 30px;
}